.backImga{
 background-size: contain;
 
 background-image: url('https://images.typeform.com/images/Cc3YyQE5wEbN/background/large');
}
.overlsyCss{
  width: 100%;
  height: 100%;
  background-color: #3e3e3e70 !important;
}

.center__{
  width:100%;
  height: 100%;
  display: grid;
  justify-content: center;
}

.textFieldUI{
  font-size: 30px !important;
}

.buttonEditOk{
  background-color: antiquewhite;
}